
@import '../../../variableStyles.scss';

.about__title-span { 
    
    @include font(3.65vw, 1.143, $darkGrayColor, start, $fontFamilyBlack);
    
    @media screen and (min-width: 1999px) {
        font-size: 70px;
    }

    @media screen and (max-width: 767px) { 
        font-size: 7vw;
        line-height: 1.33;
    }

    @media screen and (max-width: 319px) {
        font-size: 22.4px;
    }
}