@import '../../../variableStyles.scss';

.docs__wrapper-arrow {
    @include image(url(./../../../../images/arrow-medium.svg));
    background-position: center center;
    background-size: contain;
    border: 1.5vw solid $lightGreenColor;
    width: 4vw;
    max-width: 76.8px;
    height: 4vw;
    max-height: 76.8px;
    background-color: $lightGreenColor;
    border-radius: 50%;

    @media screen and (min-width: 1999px) {
        border: 3.8px solid $lightGreenColor;
    }

    @media screen and (max-width: 767px) {
        position: absolute;
        top: 48%;
        right: 8.5%;
        width: 10vw;
        min-width: 32px;
        height: 10vw;
        min-height: 32px;
        border: 4vw solid $lightGreenColor;
        transform: rotate(155deg);
    }

    @media screen and (max-width: 319px) {
        border: 12.8px solid $lightGreenColor;
    }
}