$whiteColor: #FFFFFF;
$lightGrayColor:#9A9A9A;
$mediumGrayColor: #979797;
$darkGrayColor: #273B4A;
$darkWhiteColor: #D9D9D9;
$lightWhiteColor: #EEEEEE;
$lightGreenColor: #5DE9B6;
$darkGreenColor:#3CC1B3;
$blackColor: #000000;

$fontFamilyBlack: 'Gramatika-Black', sans-serif;
$fontFamilyRegular: 'Gramatika-Regular', sans-serif;
$fontFamilyMedium: 'Gramatika-Medium', sans-serif;
$fontFamilyBold: 'Gramatika-Bold', sans-serif;

$borderHeader: 0.21vw solid $darkGrayColor;

$border: 0.26vw solid $darkGrayColor;

$borderMax: 5px solid $darkGrayColor;

$borderMin: 3px solid $darkGrayColor;

@mixin font($fontSize, $lineHeight, $color, $textAlign, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    text-align: $textAlign;
    font-family: $fontFamily;
}

@mixin flex($direction, $content, $items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}

@mixin indents($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin image($backgroundImage) {
    background-repeat: no-repeat;
    background-image: $backgroundImage;
}

@mixin limits() {
    min-width: 320px;
    max-width: 2000px;
}

@mixin hover() {
    transition: opacity 0.2s linear;
                            
    &:hover {
        opacity: 0.6;
    }
}

@mixin linkButton {
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    @include hover();
}

@mixin pseudo() {
    content: '';
    position: absolute;
    display: inline-block;
}


@mixin circleGreen() {
    @include pseudo();
    background-color: $lightGreenColor;
    width: 3.3vw;
    max-width: 63.36px;
    height: 3.3vw;
    max-height: 63.36px;
    border-radius: 50%;
}

@mixin circleGreenMax() {
    @include circleGreen();
    min-width: 18.6px;
    min-height: 18.6px;
    width: 5.8vw;
    height: 5.8vw;
}

@mixin circleGreenSuperMax() {
    @include circleGreen();
    min-width: 25.6px;
    min-height: 25.6px;
    width: 8vw;
    height: 8vw;
}

@mixin grid($columnStart, $columnEnd, $rowStart, $rowEnd) {
    grid-column-start: $columnStart;
    grid-column-end: $columnEnd;
    grid-row-start: $rowStart;
    grid-row-end: $rowEnd;
}

@mixin gridStep() {
    @include indents(0 auto, 0);
    box-sizing: border-box;
    @include font(4.2vw, 1.125, $lightGreenColor, start, $fontFamilyBlack);
    @include flex(row, center, center);
    border-radius: 50%;
    border: 7px solid $lightGreenColor;
    width: 7.97vw;
    height: 7.97vw;
    max-width: 153px;
    max-height: 153px;

    @media screen and (min-width: 1999px) {
        font-size: 80.64px;
    }

    @media screen and (max-width: 767px) {
        margin-top: 10vw;
        @include font(16.4vw, 1.29, $lightGreenColor, start, $fontFamilyBlack);
        width: 26.6vw;
        height: 26.6vw;
        min-width: 85.12px;
        min-height: 85.12px;
    }

    @media screen and (max-width: 319px) {
        margin-top: 32px;
        font-size: 52px;
    }
}

@mixin gridSubtitle() {
    @include indents(2.5vw 0 1vw 0, 0);
    @include font(1.82vw, 1.571, $darkGrayColor, center, $fontFamilyBlack);

    @media screen and (min-width: 1999px) {
        @include indents(48px 0 19.2px 0, 0);
        font-size: 34.94px;
    }

    @media screen and (max-width: 767px) {
        @include indents(3vw 0 1vw 0, 0);
        font-size: 5.8vw;
        line-height: 2.2;
    }

    @media screen and (max-width: 319px) {
        @include indents(9.6px 0 3.2px 0, 0);
        font-size: 18px;
    }
}

@mixin gridInfo() {
    @include indents(0, 0 0 8% 0);
    @include font(1.5vw, 1.56, $darkGrayColor, center, $fontFamilyMedium); 

    @media screen and (min-width: 1999px) {
      font-size: 30px;
      @include indents(0, 0 0 19.2px 0);
    }  

    @media screen and (max-width: 767px) {
        @include indents(0 0 8vw 0, 0);
        font-size: 4.2vw;
        line-height: 1.39;
        width: 80%;
    }

    @media screen and (max-width: 319px) {
        font-size: 13.5px;
        @include indents(0 0 25.5px 0, 0);
    }
}

@mixin gridImage() {
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 4px 30px rgba(217, 217, 217, 0.43);
    background-color: $whiteColor;
}

@mixin navLogo($url, $urlLight) {
    @include image($url);
    background-size: contain;
    background-position: center center;
    width: 2.24vw;
    height: 2.24vw;
    max-width: 43px;
    max-height: 43px;

    @media screen and (max-width: 767px) {
        @include image($urlLight);
        width: 10.5vw;
        height: 10.5vw;
        min-width: 33.5px;
        min-height: 33.5px;
    }
}