@import '../../../variableStyles.scss';

.header__close-button {
    display: none;

    @media screen and (max-width: 767px) {
        @include hover();
        @include indents(11.7vw 8vw 32vw, 0);
        grid-area: close;
        display: block;
        background: url('../../../../images/close-button.svg') center center no-repeat;
        background-size: contain;
        justify-self: end;
        border: none;
        min-width: 5.8vw;
        width: 18.5px;
        min-height: 5.8vw;
        height: 18.5px;
    }


    @media screen and (max-width: 320px) {
        @include indents(37.4px 25.5px 102.4px, 0);
    }
}
