@import '../../variableStyles.scss';

.fees {
    width: 100%;

    .fees__wrapper {
        @include indents(0 0 0 8.2vw, 0);
        border-left: $border;
        display: grid;
        grid-template-columns: 32% 16% 28%;
        column-gap: 5%;

        @media screen and (min-width: 1999px) {
            @include indents(0 0 0 157px, 0);
            border-left: $borderMax;
        }

        @media screen and (max-width: 767px) {
            @include indents(0 0 0 7vw, 0);
            width: 90%;
            border-left: $borderMin;
            @include flex(row, end, center);
            flex-wrap: wrap
        }

        @media screen and (max-width: 319px) {
            @include indents(0 0 0 22.4px, 0);
        }

       .fees__title {
            @include indents(0, 14vw 0 4vw 1vw);
            width: 100%;
     
            @media screen and (min-width: 1999px) {
                @include indents(0, 268.8px 0 76.8px 19.2px);
            }

            @media screen and (max-width: 767px) {
                @include indents(0, 16vw 0 7vw 6vw);
            }

            @media screen and (max-width: 319px) {
                @include indents(0, 51px 0 22px 10px);
            }
        }

        .fees__proposal {
            box-sizing: border-box;
            @include font(1.82vw, 2.57, $blackColor, center, $fontFamilyBlack);
            @include indents( 0 0 3vw 0, 0.1vw 3.5%);
            border: 0.26vw solid $blackColor;
            border-radius: 50px;
            align-self: end;
            width: 100%;

            &:last-of-type {
                @media screen and (max-width: 767px) {
                    width: 39.2%;
                }
                
            }
     
            @media screen and (min-width: 1999px) {
                font-size: 34.9px;
                @include indents( 0 0 57.6px 0, 3px 3%);
                border: 4.992px solid $blackColor;
            }

            @media screen and (max-width: 767px) {
                @include indents( 0 0 3vw 0, 2vw 3.5%);
                font-size: 3.5vw;
                line-height: 1;
                width: 23%;
                border: 2px solid #000000;
            }

            @media screen and (max-width: 319px) {
                font-size: 11.2px;
                @include indents( 0 0 9.6px 0, 6.4px 3.5%);
            }
        }
    }

    .table {
        @include indents(0, 1.45vw 0 1.67vw 0);
        @include flex(column, center, center);
        box-shadow: 0px 0.21vw 2.6vw rgba(217, 217, 217, 0.46);
        border-radius: 0 50px 50px 0;
        width: 90.52%;
 
        @media screen and (min-width: 1999px) {
            @include indents(0, 27.84px 0 19.2px 0);
        }

        @media screen and (max-width: 767px) {
            @include indents(0, 4vw 0);
            width: 100%;
            border-radius: 0;
        }

        @media screen and (max-width: 319px) {
            @include indents(0, 13px 0);
        }
    
        .table__row {
            @include indents(0 0 0 5.9vw, 1vw 0 0 0);
            @include flex(row, space-around, center);
            border-bottom: 0.21vw solid $lightWhiteColor;
            min-height: 4.5vw;

            @media screen and (min-width: 1999px) {
                @include indents(0 0 0 113.28px, 19.2px 0 0 0);
                border-bottom: 4.03px solid $lightWhiteColor;
                min-height: 86.4px;
            }

            @media screen and (max-width: 767px) {
                @include indents(0 2% 0 5%, 0);
                display: grid;
                width: 85%;
                grid-template-columns: 32% 23% 41%;
                column-gap: 5%;
                min-height: 16.8vw;
            }

            @media screen and (max-width: 319px) {
                min-height: 54px;
            }
    
            .table__option {
                @include indents(0, 0);
                @include font(1.82vw, 2.57, $blackColor, center, $fontFamilyRegular);
                width: 26vw;
                max-width: 499.2px;
    
                @media screen and (min-width: 1999px) {
                    font-size: 35px;
                }

                @media screen and (max-width: 767px) {
                    width: 100%;
                    font-size: 3.5vw;
                    line-height: 1.33;
                }

                @media screen and (max-width: 319px) {
                    font-size: 11px;
                }
            }
    
            .table__percent {
                @include indents(0, 0);
                @include font(1.82vw, 2.57, $blackColor, center, $fontFamilyRegular);
                width: 25vw;
                // min-width: 80px;
                max-width: 480px;
    
                @media screen and (min-width: 1999px) {
                    font-size: 35px;
                }

                @media screen and (max-width: 767px) {
                    width: 100%;
                    font-size: 3.5vw;
                }

                @media screen and (max-width: 319px) {
                    font-size: 11px;
                }
            }
    
            .table__availability {
                @include indents(0, 0);
                @include font(2.6vw, 1, $darkWhiteColor, center, $fontFamilyRegular);
                width: 25vw;
                max-width: 480px;
    
                @media screen and (max-width: 767px) {
                    width: 100%;
                    font-size: 6vw;
                }

                @media screen and (max-width: 319px) {
                    font-size: 8.3px;
                    margin-top: 19px;
                }
            }
        }
    
        .table__links {
            @include indents(0, 0 0 0 19%);
            display: grid;
            grid-template-columns: 64% 96%;
            column-gap: 10%;

            @media screen and (max-width: 767px) {
                @include indents(3vw 0 0 0, 0 0 0 29%);
                grid-template-columns: 37% 51%;
                column-gap: 15%;
            }

            @media screen and (max-width: 319px) {
                @include indents(9.6px 0 0 0, 0 0 0 29%);
            }

    
            .table__link {
                @include hover();
                @include indents(0, 0);
                @include font(1.82vw, 2.57, $darkGreenColor, center, $fontFamilyBold);
                display: inline-block;
                text-decoration-line: none;
                align-self: center;
    
                @media screen and (min-width: 1999px) {
                    font-size: 35px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 3.5vw;
                    line-height: 1.33;
                }

                @media screen and (max-width: 319px) {
                    font-size: 11px;
                }
            }
        }
    }
}