@import '../../../variableStyles.scss';

.docs__text-bold {
    @include indents(0 0 2vw 0, 0);
    @include font(2.3vw, 1, $darkGrayColor, start, $fontFamilyBold);

    @media screen and (min-width: 1999px) {
        margin-bottom: 38.4px;
        font-size: 44.16px;
    }

    @media screen and (max-width: 767px) {
        font-size: 4.7vw;
        line-height: 1.25;
    }

    @media screen and (max-width: 319px) {
        font-size: 15.4px;
    }
}