.how-it-works {
  width: 100%;
}
.how-it-works .main__right-line {
  margin: 0 10% 0 8.2%;
  padding: 0;
  border-right: 0.26vw solid #273B4A;
  border-bottom: 0.26vw solid #273B4A;
  border-bottom-right-radius: 2.6vw;
  position: relative;
}
@media screen and (min-width: 1999px) {
  .how-it-works .main__right-line {
    border-right: 5px solid #273B4A;
    border-bottom: 5px solid #273B4A;
    border-bottom-right-radius: 50px;
  }
}
@media screen and (max-width: 767px) {
  .how-it-works .main__right-line {
    margin: 0 6% 0 7%;
    padding: 0;
    border-right: 3px solid #273B4A;
    border-bottom: none;
    border-bottom-right-radius: 0;
  }
}
.how-it-works .main__right-line:before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #5DE9B6;
  width: 3.3vw;
  max-width: 63.36px;
  height: 3.3vw;
  max-height: 63.36px;
  border-radius: 50%;
  top: -1.65vw;
  right: -1.65vw;
}
@media screen and (min-width: 1999px) {
  .how-it-works .main__right-line:before {
    top: -31.68px;
    right: -31.68px;
  }
}
@media screen and (max-width: 767px) {
  .how-it-works .main__right-line:before {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #5DE9B6;
    width: 3.3vw;
    max-width: 63.36px;
    height: 3.3vw;
    max-height: 63.36px;
    border-radius: 50%;
    min-width: 18.6px;
    min-height: 18.6px;
    width: 5.8vw;
    height: 5.8vw;
    top: -3vw;
    right: -3vw;
  }
}
@media screen and (max-width: 319px) {
  .how-it-works .main__right-line:before {
    top: -5.28px;
    right: -5.28px;
  }
}
.how-it-works .main__right-line:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #5DE9B6;
  width: 3.3vw;
  max-width: 63.36px;
  height: 3.3vw;
  max-height: 63.36px;
  border-radius: 50%;
  bottom: -1.65vw;
  left: -1.65vw;
}
@media screen and (min-width: 1999px) {
  .how-it-works .main__right-line:after {
    bottom: -9.6px;
    left: -9.6px;
  }
}
@media screen and (max-width: 767px) {
  .how-it-works .main__right-line:after {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #5DE9B6;
    width: 3.3vw;
    max-width: 63.36px;
    height: 3.3vw;
    max-height: 63.36px;
    border-radius: 50%;
    min-width: 18.6px;
    min-height: 18.6px;
    width: 5.8vw;
    height: 5.8vw;
    bottom: -3vw;
    right: -3vw;
    left: auto;
  }
}
@media screen and (max-width: 319px) {
  .how-it-works .main__right-line:after {
    bottom: -9.6px;
    right: -9.6px;
  }
}
.how-it-works .main__right-line .how-it-works__title {
  margin: 0;
  padding: 4vw 0 2.56vw 1.2vw;
}
@media screen and (min-width: 1999px) {
  .how-it-works .main__right-line .how-it-works__title {
    margin: 0;
    padding: 76.8px 0 49.15px 23px;
  }
}
@media screen and (max-width: 767px) {
  .how-it-works .main__right-line .how-it-works__title {
    margin: 0;
    padding: 7.5vw 0 0 1vw;
  }
}
@media screen and (max-width: 319px) {
  .how-it-works .main__right-line .how-it-works__title {
    margin: 0;
    padding: 24px 0 0 3.2px;
  }
}

.left-line {
  height: 3vw;
  min-height: 9.6px;
  max-height: 57.6px;
  margin: 0 0 0 8.2%;
  padding: 0;
  border-left: 0.26vw solid #273B4A;
}
@media screen and (min-width: 1999px) {
  .left-line {
    border-left: 5px solid #273B4A;
  }
}
@media screen and (max-width: 767px) {
  .left-line {
    border-left: 3px solid #273B4A;
    border-top: 3px solid #273B4A;
    margin: 0 6% 0 7%;
    padding: 16vw 0 0 0;
    border-top-left-radius: 20px;
  }
}
@media screen and (max-width: 319px) {
  .left-line {
    padding-top: 52px;
  }
}

.grid {
  margin: 0;
  padding: 0 2vw 1.5vw 6vw;
  display: grid;
  grid-template-columns: repeat(3, 28%);
  grid-auto-rows: auto;
  -moz-column-gap: 7%;
       column-gap: 7%;
  position: relative;
}
@media screen and (min-width: 1999px) {
  .grid {
    margin: 0;
    padding: 0 38.4px 28.8px 115.2px;
  }
}
@media screen and (max-width: 767px) {
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 0 15vw 0;
  }
}
@media screen and (max-width: 319px) {
  .grid {
    margin: 0;
    padding: 0 0 48px 0;
  }
}
.grid:before {
  content: "";
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../../images/arrow-small.svg");
  background-position: center center;
  background-size: contain;
  width: 4vw;
  height: 4vw;
  min-width: 3.2px;
  min-height: 3.2px;
  max-width: 76.8px;
  max-height: 76.8px;
  top: 4%;
  left: 33.5%;
}
@media screen and (max-width: 767px) {
  .grid:before {
    display: none;
  }
}
.grid:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../../images/arrow-small.svg");
  background-position: center center;
  background-size: contain;
  width: 4vw;
  height: 4vw;
  min-width: 3.2px;
  min-height: 3.2px;
  max-width: 76.8px;
  max-height: 76.8px;
  top: 4%;
  left: 65%;
}
@media screen and (max-width: 767px) {
  .grid:after {
    display: none;
  }
}
.grid .grid__one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 4.2vw;
  line-height: 1.125;
  color: #5DE9B6;
  text-align: start;
  font-family: "Gramatika-Black", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 7px solid #5DE9B6;
  width: 7.97vw;
  height: 7.97vw;
  max-width: 153px;
  max-height: 153px;
}
@media screen and (min-width: 1999px) {
  .grid .grid__one {
    font-size: 80.64px;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__one {
    margin-top: 10vw;
    font-size: 16.4vw;
    line-height: 1.29;
    color: #5DE9B6;
    text-align: start;
    font-family: "Gramatika-Black", sans-serif;
    width: 26.6vw;
    height: 26.6vw;
    min-width: 85.12px;
    min-height: 85.12px;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__one {
    margin-top: 32px;
    font-size: 52px;
  }
}
.grid .grid__five {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 4.2vw;
  line-height: 1.125;
  color: #5DE9B6;
  text-align: start;
  font-family: "Gramatika-Black", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 7px solid #5DE9B6;
  width: 7.97vw;
  height: 7.97vw;
  max-width: 153px;
  max-height: 153px;
}
@media screen and (min-width: 1999px) {
  .grid .grid__five {
    font-size: 80.64px;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__five {
    margin-top: 10vw;
    font-size: 16.4vw;
    line-height: 1.29;
    color: #5DE9B6;
    text-align: start;
    font-family: "Gramatika-Black", sans-serif;
    width: 26.6vw;
    height: 26.6vw;
    min-width: 85.12px;
    min-height: 85.12px;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__five {
    margin-top: 32px;
    font-size: 52px;
  }
}
.grid .grid__nine {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 4.2vw;
  line-height: 1.125;
  color: #5DE9B6;
  text-align: start;
  font-family: "Gramatika-Black", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 7px solid #5DE9B6;
  width: 7.97vw;
  height: 7.97vw;
  max-width: 153px;
  max-height: 153px;
}
@media screen and (min-width: 1999px) {
  .grid .grid__nine {
    font-size: 80.64px;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__nine {
    margin-top: 10vw;
    font-size: 16.4vw;
    line-height: 1.29;
    color: #5DE9B6;
    text-align: start;
    font-family: "Gramatika-Black", sans-serif;
    width: 26.6vw;
    height: 26.6vw;
    min-width: 85.12px;
    min-height: 85.12px;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__nine {
    margin-top: 32px;
    font-size: 52px;
  }
}
.grid .grid__two {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 2.5vw 0 1vw 0;
  padding: 0;
  font-size: 1.82vw;
  line-height: 1.571;
  color: #273B4A;
  text-align: center;
  font-family: "Gramatika-Black", sans-serif;
}
@media screen and (min-width: 1999px) {
  .grid .grid__two {
    margin: 48px 0 19.2px 0;
    padding: 0;
    font-size: 34.94px;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__two {
    margin: 3vw 0 1vw 0;
    padding: 0;
    font-size: 5.8vw;
    line-height: 2, 2;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__two {
    margin: 9.6px 0 3.2px 0;
    padding: 0;
    font-size: 18px;
  }
}
.grid .grid__six {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 2.5vw 0 1vw 0;
  padding: 0;
  font-size: 1.82vw;
  line-height: 1.571;
  color: #273B4A;
  text-align: center;
  font-family: "Gramatika-Black", sans-serif;
}
@media screen and (min-width: 1999px) {
  .grid .grid__six {
    margin: 48px 0 19.2px 0;
    padding: 0;
    font-size: 34.94px;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__six {
    margin: 3vw 0 1vw 0;
    padding: 0;
    font-size: 5.8vw;
    line-height: 2, 2;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__six {
    margin: 9.6px 0 3.2px 0;
    padding: 0;
    font-size: 18px;
  }
}
.grid .grid__ten {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 2.5vw 0 1vw 0;
  padding: 0;
  font-size: 1.82vw;
  line-height: 1.571;
  color: #273B4A;
  text-align: center;
  font-family: "Gramatika-Black", sans-serif;
}
@media screen and (min-width: 1999px) {
  .grid .grid__ten {
    margin: 48px 0 19.2px 0;
    padding: 0;
    font-size: 34.94px;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__ten {
    margin: 3vw 0 1vw 0;
    padding: 0;
    font-size: 5.8vw;
    line-height: 2, 2;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__ten {
    margin: 9.6px 0 3.2px 0;
    padding: 0;
    font-size: 18px;
  }
}
.grid .grid__three {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0;
  padding: 0 0 8% 0;
  font-size: 1.5vw;
  line-height: 1.56;
  color: #273B4A;
  text-align: center;
  font-family: "Gramatika-Medium", sans-serif;
}
@media screen and (min-width: 1999px) {
  .grid .grid__three {
    font-size: 30px;
    margin: 0;
    padding: 0 0 19.2px 0;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__three {
    margin: 0 0 8vw 0;
    padding: 0;
    font-size: 4.2vw;
    line-height: 1.39;
    width: 80%;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__three {
    font-size: 13.5px;
    margin: 0 0 25.5px 0;
    padding: 0;
  }
}
.grid .grid__seven {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0;
  padding: 0 0 8% 0;
  font-size: 1.5vw;
  line-height: 1.56;
  color: #273B4A;
  text-align: center;
  font-family: "Gramatika-Medium", sans-serif;
}
@media screen and (min-width: 1999px) {
  .grid .grid__seven {
    font-size: 30px;
    margin: 0;
    padding: 0 0 19.2px 0;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__seven {
    margin: 0 0 8vw 0;
    padding: 0;
    font-size: 4.2vw;
    line-height: 1.39;
    width: 80%;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__seven {
    font-size: 13.5px;
    margin: 0 0 25.5px 0;
    padding: 0;
  }
}
.grid .grid__eleven {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0;
  padding: 0 0 8% 0;
  font-size: 1.5vw;
  line-height: 1.56;
  color: #273B4A;
  text-align: center;
  font-family: "Gramatika-Medium", sans-serif;
}
@media screen and (min-width: 1999px) {
  .grid .grid__eleven {
    font-size: 30px;
    margin: 0;
    padding: 0 0 19.2px 0;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__eleven {
    margin: 0 0 8vw 0;
    padding: 0;
    font-size: 4.2vw;
    line-height: 1.39;
    width: 80%;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__eleven {
    font-size: 13.5px;
    margin: 0 0 25.5px 0;
    padding: 0;
  }
}
.grid .grid__four {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .grid .grid__four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.grid .grid__four .grid__card {
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 4px 30px rgba(217, 217, 217, 0.43);
  background-color: #FFFFFF;
  width: 100%;
  padding: 1.56vw;
}
@media screen and (min-width: 1999px) {
  .grid .grid__four .grid__card {
    padding: 30px;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__four .grid__card {
    width: 96%;
    margin: 0 auto;
    padding: 5.4vw;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__four .grid__card {
    padding: 17px;
  }
}
.grid .grid__eight {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: start;
}
@media screen and (max-width: 767px) {
  .grid .grid__eight {
    width: 100%;
  }
}
.grid .grid__eight .grid__card {
  width: 80%;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 4px 30px rgba(217, 217, 217, 0.43);
  background-color: #FFFFFF;
  margin: 0 0 0.6vw 0;
  padding: 0.36vw 2.34vw 2.76vw 2.34vw;
}
@media screen and (min-width: 1999px) {
  .grid .grid__eight .grid__card {
    width: 100%;
    margin: 0 0 11.5px 0;
    padding: 7px 45px 53px 45px;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__eight .grid__card {
    margin: 0 0 2.4vw 0;
    padding: 4vw 14vw 14vw 14vw;
    width: 96%;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__eight .grid__card {
    margin: 0 0 7.7px 0;
    padding: 12.8px 44.8px 44.8px 44.8px;
  }
}
.grid .grid__eight .grid__link-wrapper {
  margin: 0 auto 0.9vw auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .grid .grid__eight .grid__link-wrapper:last-of-type {
    margin: 3.7vw auto 0 auto;
    padding: 0;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__eight .grid__link-wrapper:last-of-type {
    margin: 16px auto 0 auto;
    padding: 0;
  }
}
@media screen and (min-width: 1999px) {
  .grid .grid__eight .grid__link-wrapper {
    margin: 0 auto 17.28px auto;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__eight .grid__link-wrapper {
    width: 96%;
    margin: 0 auto;
    padding: 0;
  }
}
.grid .grid__eight .grid__link-wrapper .grid__link {
  transition: opacity 0.2s linear;
  position: absolute;
  top: calc(50% - 1.16vw);
  left: -1.5%;
  width: 3vw;
  max-width: 57.6px;
}
.grid .grid__eight .grid__link-wrapper .grid__link:hover {
  opacity: 0.6;
}
.grid .grid__eight .grid__link-wrapper .grid__link .grid__link-image {
  width: 100%;
}
@media screen and (min-width: 1999px) {
  .grid .grid__eight .grid__link-wrapper .grid__link {
    top: calc(50% - 24px);
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__eight .grid__link-wrapper .grid__link {
    top: calc(50% - 6vw);
    width: 13.4vw;
    min-width: 42.8px;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__eight .grid__link-wrapper .grid__link {
    top: calc(50% - 19.2px);
  }
}
.grid .grid__eight .grid__link-wrapper .grid__link-text {
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 4px 30px rgba(217, 217, 217, 0.43);
  background-color: #FFFFFF;
  margin: 0;
  padding: 0.75vw 1vw 0.75vw 3.1vw;
  font-size: 1.2vw;
  line-height: 1.17;
  color: #3CC1B3;
  text-align: center;
  font-family: "Gramatika-Regular", sans-serif;
}
@media screen and (min-width: 1999px) {
  .grid .grid__eight .grid__link-wrapper .grid__link-text {
    margin: 0;
    padding: 14.4px 19.2px 14.4px 59.5px;
    font-size: 23.04px;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__eight .grid__link-wrapper .grid__link-text {
    margin: 0;
    padding: 2vw 2vw 2vw 14.2vw;
    font-size: 5.4vw;
    line-height: 1.17;
    width: 100%;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__eight .grid__link-wrapper .grid__link-text {
    margin: 0;
    padding: 6.4px 6.4px 6.4px 45.4px;
    font-size: 12px;
  }
}
.grid .grid__twelve {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .grid .grid__twelve {
    width: 100%;
  }
}
.grid .grid__twelve .grid__card {
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 4px 30px rgba(217, 217, 217, 0.43);
  background-color: #FFFFFF;
  width: 100%;
  padding: 1.56vw;
}
@media screen and (min-width: 1999px) {
  .grid .grid__twelve .grid__card {
    padding: 30px;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid__twelve .grid__card {
    width: 96%;
  }
}
@media screen and (max-width: 319px) {
  .grid .grid__twelve .grid__card {
    padding: 5px;
  }
}/*# sourceMappingURL=how-it-works.css.map */