@import '../../variableStyles.scss';

.left-line {
    height: 3vw;
    min-height: 9.6px;
    max-height: 57.6px;
    @include indents(0 0 0 8.2%, 0);
    border-left: $border;

    @media screen and (min-width: 1999px) {
        border-left: $borderMax;
    }

    @media screen and (max-width: 767px) {
        border-left: $borderMin;
        border-top: $borderMin;
        @include indents(0 6% 0 7%, 16vw 0 0 0);
        border-top-left-radius: 20px;
    }

    @media screen and (max-width: 319px) {
        padding-top: 52px;
    }
}