.about {
  min-width: 320px;
  max-width: 2000px;
  position: relative;
}
.about:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../../images/about-image-large.jpg");
  background-position: center right;
  background-size: contain;
  right: 0;
  top: 1.1vw;
  width: 42vw;
  height: 39vw;
  max-width: 806.4px;
  max-height: 748.8px;
}
@media screen and (min-width: 1999px) {
  .about:after {
    top: 21.12px;
  }
}
@media screen and (max-width: 767px) {
  .about:after {
    background-repeat: no-repeat;
    background-image: url("../../../images/about-image-small.jpg");
    right: 0;
    top: 0;
    width: 100%;
    height: 94vw;
    min-height: 301px;
  }
}
.about .about__title {
  margin: 0;
  padding: 3.85vw 0 1.56vw 9.2vw;
  position: relative;
}
@media screen and (min-width: 1999px) {
  .about .about__title {
    margin: 0;
    padding: 73.92px 0 29.95px 176.64px;
  }
}
@media screen and (max-width: 767px) {
  .about .about__title {
    margin: 0;
    padding: 94vw 0 3.7vw 8.1vw;
    width: 75%;
  }
}
@media screen and (max-width: 319px) {
  .about .about__title {
    margin: 0;
    padding: 301px 0 11.8px 26px;
  }
}
.about .about__title:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../../images/arrow-large.svg");
  background-size: contain;
  background-position: center center;
  right: -6.8vw;
  top: 4vw;
  width: 6vw;
  min-width: 19.2px;
  max-width: 115.2px;
  height: 6vw;
  min-height: 19.2px;
  max-height: 115.2px;
}
@media screen and (min-width: 1999px) {
  .about .about__title:after {
    right: -130.56px;
    top: 76.8px;
  }
}
@media screen and (max-width: 767px) {
  .about .about__title:after {
    background-position: center center;
    background-size: contain;
    right: -11vw;
    top: 96vw;
    width: 8.8vw;
    height: 8.8vw;
    min-width: 28.16px;
    min-height: 28.16px;
  }
}
@media screen and (max-width: 319px) {
  .about .about__title:after {
    right: -35.2px;
    top: 310px;
  }
}
.about .about__title-span {
  font-size: 3.65vw;
  line-height: 1.143;
  color: #273B4A;
  text-align: start;
  font-family: "Gramatika-Black", sans-serif;
}
@media screen and (min-width: 1999px) {
  .about .about__title-span {
    font-size: 70px;
  }
}
@media screen and (max-width: 767px) {
  .about .about__title-span {
    font-size: 7vw;
    line-height: 1.33;
  }
}
@media screen and (max-width: 319px) {
  .about .about__title-span {
    font-size: 22.4px;
  }
}
.about .about__description {
  margin: 0 10vw 0 7.2vw;
  padding: 0;
  position: relative;
  border-left: 0.26vw solid #273B4A;
  border-bottom: 0.26vw solid #273B4A;
  border-bottom-left-radius: 2.6vw;
}
@media screen and (min-width: 1999px) {
  .about .about__description {
    margin: 0 192px 0 138.24px;
    padding: 0;
    border-left: 5px solid #273B4A;
    border-bottom: 5px solid #273B4A;
    border-bottom-left-radius: 50px;
  }
}
@media screen and (max-width: 767px) {
  .about .about__description {
    border-left: 3px solid #273B4A;
    border-bottom: 3px solid #273B4A;
    margin: 0 6.1vw 0 7vw;
    padding: 0 0 3.5vw 0;
    border-bottom-left-radius: 5vw;
  }
}
@media screen and (max-width: 319px) {
  .about .about__description {
    margin: 0 19.5px 0 22.4px;
    padding: 0 0 11.2px 0;
    border-bottom-left-radius: 16px;
  }
}
.about .about__description:before {
  content: "";
  position: absolute;
  display: inline-block;
  left: -0.1%;
  top: 0;
  width: 28%;
  border-top: 0.26vw solid #273B4A;
}
@media screen and (min-width: 1999px) {
  .about .about__description:before {
    border-top: 5px solid #273B4A;
  }
}
@media screen and (max-width: 767px) {
  .about .about__description:before {
    border-top: 3px solid #273B4A;
    width: 52%;
  }
}
.about .about__description .about__text {
  width: 45%;
  margin: 0;
  padding: 2.1vw 0 3.1vw 2.2vw;
  font-size: 1.56vw;
  line-height: 1.5;
  color: #000000;
  text-align: start;
  font-family: "Gramatika-Regular", sans-serif;
}
@media screen and (min-width: 1999px) {
  .about .about__description .about__text {
    margin: 0;
    padding: 40.32px 0 60px 42.24px;
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .about .about__description .about__text {
    margin: 0;
    padding: 6vw 0 3.1vw 2.2vw;
    width: 82%;
    font-size: 4.2vw;
    line-height: 1.39;
  }
}
@media screen and (max-width: 319px) {
  .about .about__description .about__text {
    margin: 0;
    padding: 19px 0 10px 7px;
    font-size: 13.44px;
  }
}
.about .about__description .about__button {
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  transition: opacity 0.2s linear;
  margin: 0 0 0 2.19vw;
  padding: 0.75vw 1.5vw;
  font-size: 1.56vw;
  line-height: 1.17;
  color: #FFFFFF;
  text-align: center;
  font-family: "Gramatika-Bold", sans-serif;
  background: #5DE9B6;
  width: 21.5%;
}
.about .about__description .about__button:hover {
  opacity: 0.6;
}
@media screen and (min-width: 1999px) {
  .about .about__description .about__button {
    margin: 0 0 0 42px;
    padding: 14.4px 28.8px;
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .about .about__description .about__button {
    margin: 2vw 0 0 2.19vw;
    padding: 1vw 2vw;
    font-size: 4.67vw;
    line-height: 1.15;
    color: #FFFFFF;
    text-align: center;
    font-family: "Gramatika-Bold", sans-serif;
    width: 56%;
  }
}
@media screen and (max-width: 319px) {
  .about .about__description .about__button {
    margin: 6.4px 0 0 7px;
    padding: 3.2px 6.4px;
    font-size: 15px;
  }
}
.about .about__description .about__list {
  margin: 8.7vw 0 1vw 3.5vw;
  padding: 0;
}
@media screen and (min-width: 1999px) {
  .about .about__description .about__list {
    margin: 167.04px 0 19.2px 67.2px;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .about .about__description .about__list {
    margin: 7vw 0 1vw 6vw;
    padding: 0;
  }
}
@media screen and (max-width: 319px) {
  .about .about__description .about__list {
    margin: 22.4px 0 3.2px 19.2px;
    padding: 0;
  }
}
.about .about__description .about__list .about__item {
  margin: 0;
  padding: 0 0 0 0.5vw;
  font-size: 1.56vw;
  line-height: 1.83;
  color: #000000;
  text-align: start;
  font-family: "Gramatika-Medium", sans-serif;
}
@media screen and (min-width: 1999px) {
  .about .about__description .about__list .about__item {
    padding-left: 9.6px;
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .about .about__description .about__list .about__item {
    margin-bottom: 1.6vw;
    font-size: 4.2vw;
    line-height: 1.39;
    color: #000000;
    text-align: start;
    font-family: "Gramatika-Regular", sans-serif;
  }
}
@media screen and (max-width: 319px) {
  .about .about__description .about__list .about__item {
    margin-bottom: 5px;
    font-size: 13.5px;
  }
}/*# sourceMappingURL=about.css.map */