@import '../../variableStyles.scss';

.about {
    @include limits();
    position: relative;

    &:after {
        @include pseudo();
        @include image(url('../../../images/about-image-large.jpg'));
        background-position: center right;
        background-size: contain;
        right: 0;
        top: 1.1vw; 
        width: 42vw;
        height: 39vw;
        max-width: 806.4px;
        max-height: 748.8px;

        @media screen and (min-width: 1999px) {
            top: 21.12px; 
        }
      
        @media screen and (max-width: 767px) { 
            @include image(url('../../../images/about-image-small.jpg'));
            right: 0;
            top: 0;
            width: 100%;
            height: 94vw;
            min-height: 301px;
        }
    }
    
}
