@import '../../../variableStyles.scss';

.table__availability {
    @include indents(0, 0);
    @include font(2.6vw, 1, $darkWhiteColor, center, $fontFamilyRegular);
    width: 25vw;
    max-width: 480px;

    @media screen and (max-width: 767px) {
        width: 100%;
        font-size: 6vw;
    }

    @media screen and (max-width: 319px) {
        font-size: 8.3px;
        margin-top: 19px;
    }
}