@import '../../../variableStyles.scss';

.grid__card-middle {
    width: 80%;
    @include gridImage();
    @include indents(0 0 0.6vw 0, 0);

    @media screen and (min-width: 1999px) {
        width: 100%;
        @include indents(0 0 11.5px 0, 0);
    }

    @media screen and (max-width: 767px) {
        @include indents(0 0 2.4vw 0, 0);
        width: 96%;
    }

    @media screen and (max-width: 319px) {
        @include indents(0 0 7.7px 0, 12.8px 44.8px 44.8px 44.8px);
    }
}
