@import '../../../variableStyles.scss';

.table__links {
    width: 53%;
    @include indents(0, 0 0 0 39.5%);
    display: grid;
    grid-template-columns: 40% 53%;
    column-gap: 6%;

    @media screen and (max-width: 767px) {
        @include indents(3vw 0 0 0, 0 0 0 35%);
        width: 58%;
        grid-template-columns: 32% 60%;
        column-gap: 8%;
    }

    @media screen and (max-width: 319px) {
        @include indents(9.6px 0 0 0, 0 0 0 35%);
    }
}
