@import '../../variableStyles.scss';

.contacts {
    padding-left: 0.31vw;
    @include flex(column, space-around, flex-start);
    background-color: $darkGrayColor;
    min-height: 16vw;
    min-width: 2.9vw;;
    border-radius: 0 20px 20px 0;

    @media screen and (min-width: 1999px) {
        position: absolute;
        padding-left: 6px;
        min-height: 307px;
        min-width: 55px;
    }

    @media screen and (max-width: 767px) {
        @include flex(row, space-around, center);
        background-color: $whiteColor;
        border-top: 3px solid $lightGrayColor;
        border-radius: 0;
        @include indents(23vw 5% 0 15%, 4vw 0);
    }

    @media screen and (max-width: 319px) {
        @include indents(23px 5% 0 15%, 12.8px 0);
    }
}