@import '../../variableStyles.scss';

.header {
    @include limits();
    display: grid; 
    grid-template-columns: 13% 58.3% 17.6% 6.2%; 
    column-gap: 1.6%;
    min-height: 7.86vw;
    border-bottom: $borderHeader;

   @media screen and (min-width: 1999px) {
        min-height: 151px;
        border-bottom: $borderMax;
    }

    @media screen and (max-width: 767px) { 
        box-sizing: border-box;
        padding-top: 1%;
        height: 26vw; 
        min-height: 83.2px;
        @include flex(row, space-between, center);
        border-bottom: $borderMin;
    }

    .header__logo {
        @include indents(1.7vw 0 1.16vw 5.6vw, 0);
        width: 7.3vw;
        height: 5vw;
        min-width: 23.36px;
        min-height: 16px;
        max-width: 140.16px;
        max-height: 96px;
        align-self: center;
        
        @media screen and (min-width: 1999px) {
            @include indents(32.6px 0 22.27px 107.5px, 0);
        }

        @media screen and (max-width: 767px) { 
            width: 18.7vw; 
            min-width: 60px;
            height: 12.65vw; 
            min-height: 40.48px;
            @include indents(1.25vw 0 0.85vw 7.7vw, 0);
            @include flex(row, center, center) 
        }

        @media screen and (max-width: 319px) { 
            @include indents(4px 0 2.7px 24.64px, 0);
        }
    }

    .header__button {
        @include linkButton();
        @include indents(2.2vw 0 1vw 0, 0.75vw 1.2vw);
        @include font(1.56vw, 1.17, $whiteColor, center, $fontFamilyBold);
        width: 100%;
        background-color: $lightGreenColor; 
        box-sizing: border-box;
        align-self: center;
    
        @media screen and (min-width: 1999px) {
            font-size: 30px;
            @include indents(42px 0 19.2px 0, 14.4px 61.4px);
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .header__language {
        @include indents(2.2vw 0 1vw 0, 0);
        @include flex(row, center, center);
        align-self: center;
    
        @media screen and (min-width: 1999px) {
            @include indents(42px 0 19.2px 0, 0);
        }

        @media screen and (max-width: 767px) {
            display: none
        }

        .header__language-text {
            @include indents(0, 0); 
            @include font(1.56vw, 1.17, $lightGrayColor, center, $fontFamilyRegular); 
        
            @media screen and (min-width: 1999px) {
                font-size: 30px;
            }

            @media screen and (max-width: 319px) {
                font-size: 5px;
            }
        }

        .header__language-button {
            margin-right: 2.65vw; 
            background: url('../../../images/right-double.svg') center center no-repeat; 
            background-size: contain;
            width: 1.25vw; 
            height: 1.25vw; 
            min-width: 4px;
            min-height: 4px;
            max-width: 24px;
            max-height: 24px;
            border: none;
            @include hover();
        
            @media screen and (min-width: 1999px) {
                margin-right: 51px;
            }

            @media screen and (max-width: 319px) {
                margin-right: 8px; 
            }
        }
    }
    
    .header__nav-button {
        display: none;

        @media screen and (max-width: 767px) {
            display: block;
            margin-right: 5.37vw; 
            background: url('../../../images/burger-menu.svg') center center no-repeat; 
            background-size: contain;
            width: 8.1vw; 
            height: 4.7vw; 
            min-width: 26px;
            min-height: 15px;
            border: none;
            @include hover();
        }

        @media screen and (max-width: 320px) {
            margin-right: 17px;
        }
    }

    .header__navbar {
        width: 100%;
        @include indents(2.2vw 0 1vw 0, 0); 
        @include flex(row, center, center);
    
        @media screen and (min-width: 1999px) {
            @include indents(42.24px 0 19.2px 0, 0); 
        }

        @media screen and (max-width: 767px) {
            display: none;
        }

        .header__links {
            @include indents(0,0);
            @include flex(row, space-around, center);
            flex-wrap: wrap;
            width: 80%;
            list-style: none;

            .header__link-item {
                @include indents(0,0);
                @include flex(column, center, stretch);

                .header__link {
                    @include indents(0, 0.5vw 1.5vw); 
                    @include font(1.56vw, 1.17, $lightGrayColor, center, $fontFamilyRegular);
                    text-decoration-line: none;
                    @include hover();
    
                    @media screen and (min-width: 1999px) {
                        font-size: 30px;
                        @include indents(0, 9.6px 0 9.6px 38.4px);
                    }

                    @media screen and (max-width: 319px) {
                        font-size: 5px;
                        @include indents(0, 1.6px 4.8px); 
                    }
                }
            }
        }
    } 
}