@import '../../../variableStyles.scss';

.footer__last-content {
    @include indents(3.2vw 5% 0 8%, 0);
    @include font(1.19vw, 1.17, $whiteColor, center, $fontFamilyRegular);

    @media screen and (min-width: 1999px) {
        font-size: 23px;
        margin-top: 61.5px;
    }

    @media screen and (max-width: 767px) {
        font-size: 3.5vw;
        line-height: 1.2;
        @include indents(3.2vw 6% 0 7%, 0);
    }
    
    @media screen and (max-width: 319px) {
        font-size: 11px;
        margin-top: 10.1px;
    }
}