@import '../../../variableStyles.scss';

.header__links {
    @include indents(0,0);
    @include flex(row, center, center);
    flex-wrap: wrap;
    width: 90%;
    list-style: none;

    @media screen and (max-width: 767px) {
        @include indents(0,0 0 0 10%);
        @include flex(column, center, flex-end);
    }
}
