@import '../../variableStyles.scss';

.footer {
    @include indents(0, 12.1vw 0 4.19vw 0);
    @include limits();
    @include flex(column, center, stretch);
    background: linear-gradient(180deg, rgba(219, 255, 229, 0) 0%, rgba(93, 233, 182, 0.81) 48.44%, #3CC1B3 100%);
    
    @media screen and (max-width: 319px) {
        @include indents(0, 39px 0 13.4vw 0);
    }

    @media screen and (min-width: 1999px) {
        @include indents(0, 232px 0 80.5px 0);
    }

    .footer__last-content {
        @include indents(3.2vw 0 0 0, 0);
        @include font(1.19vw, 1.17, $whiteColor, center, $fontFamilyRegular);

        @media screen and (max-width: 319px) {
            font-size: 3.8px;
            margin-top: 10.2px;
        }

        @media screen and (min-width: 1999px) {
            font-size: 23px;
            margin-top: 61.5px;
        }
    }
    
    .footer__wrapper {
        @include indents(0 5% 0 8%, 0);
        @include flex(row, space-around, stretch);
        box-sizing: content-box;

        .footer__info {
            @include indents(0,0);
            @include font(1.82vw, 1.55, $whiteColor, left, $fontFamilyRegular);
            width: 35.18%;
            max-width: 426px;
            min-width: 86.6px;

            @media screen and (max-width: 319px) {
                font-size: 6px;
            }
    
            @media screen and (min-width: 1999px) {
                font-size: 35px;
            }
        }

        .footer__navbar {
            @include indents(0, 0);
            @include flex(column, space-around, stretch);
            width: 25%;
            max-width: 361px;
            min-width: 80px;
            box-sizing: border-box;
            
            .footer__links {
            @include indents(0,0);
            @include flex(column, space-between, stretch);
            height: 100%;
            display: flex;
            list-style: none;
    
                .footer__link-item {
                    @include indents(0,0);
                    @include flex(column, space-between, stretch);
    
                    .footer__link {
                        @include indents(0,0);
                        @include font(1.98vw, 1.18, $whiteColor, left, $fontFamilyBold);
                        text-decoration-line: none;
                        @include hover();
                        
                        @media screen and (max-width: 319px) {
                            font-size: 6.33px;
                        }
    
                        @media screen and (min-width: 1999px) {
                            font-size: 38px;
                        }
                    }
                }
            }
        }
    
    }
}