@import '../../../../variableStyles.scss';

.node__info_in_bold {
    @include indents(0, 0);
    @include font(4.17vw, 1.11, $darkGrayColor, left, $fontFamilyBlack);

    @media screen and (min-width: 1999px) {
        font-size: 90px;
    }

    @media screen and (max-width: 767px) {
        padding-bottom: 3vw;
        font-size: 7vw;
        line-height: 1;

    }

    @media screen and (max-width: 319px) {
        padding-bottom: 3vw;
        font-size: 15px;
    }
}