@import '../../variableStyles.scss';

.node {
    @include indents(0 auto, 0 0 1.1vw 0);
    @include limits();
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;

     @media screen and (min-width: 1999px) {
        @include indents(0 auto, 0 0 21.12px 0);
    }

    @media screen and (max-width: 767px) {
        @include indents(0 auto, 0);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "line"
                             "text"
                             "qr"
    }

    @media screen and (max-width: 319px) {
    }

    &:before {
        right: 7.03vw;
        top: 14.90vw;
        @include circleGreen();
    
        @media screen and (min-width: 1999px) {
            right: 135px;
            top: 286px;
        }

        @media screen and (max-width: 767px) {
            @include circleGreenSuperMax();
            right: 10vw;
            top: 38vw;
        }

        @media screen and (max-width: 319px) {
            right: 33px;
            top: 121px;
        }
    }

    &:after {
        @include pseudo();
        @include image(url('../../../images/arrow-large.svg'));
        right: 4.95vw;
        top: 12.5vw;
        width: 100%;
        max-width: 115.2px;
        height: 6vw;
        max-height: 115.2px;
        background-size: 6vw 6vw;
        transform: rotate(180deg);
    
        @media screen and (min-width: 1999px) {
            right: 95px;
            top: 240px;
            width: 100%;
            background-size: 115.2px 115.2px;
        }

        @media screen and (max-width: 767px) {
            right: 5vw;
            top: 32vw;
            height: 14vw;
            min-height: 44.8px;
            background-size: 14vw 14vw;
        }

        @media screen and (max-width: 319px) {
            right: 16px;
            top: 102.4px;
            background-size: 44.8px 44.8px;
        }
    }

    .node__border {
        grid-area: line;
        position: relative;
        @include indents(0 0 5.9vw 8.2vw, 0);
        height: 6.8vw;
        max-height: 130.5px;
        width: 100%;
        border-left: $border;
        border-bottom: $border;

        @media screen and (min-width: 1999px) {
            @include indents(0 0 113.3px 157.5px, 0);
            border-left: $borderMax;
            border-bottom: $borderMax;
        }

        @media screen and (max-width: 767px) {
            @include indents(0 0 31vw 7vw, 0);
            border-left: $borderMin;
            border-bottom: $borderMin;
            border-bottom-left-radius: 20px;
            height: 15vw;
            min-height: 48px;

        }

        @media screen and (max-width: 319px) {
            @include indents(0 0 99px 22.4px, 0);
        }

        &:after {
            @include circleGreen();
            bottom: -1.65vw;
            left: -1.65vw;
    
            @media screen and (min-width: 1999px) {
                bottom: -31.68px;
                left: -31.68px;
            }

            @media screen and (max-width: 767px) {
                @include circleGreenMax();
                display: none;
            }
        }
    }

    .node__qr {
        grid-area: qr;
        height: 31.4vw;
        width: 43.44vw;
        max-width: 837px;
        max-height: 638px;
        border-top: $border;
        border-right: $border; 
        border-bottom: $border;
        border-radius: 0 20px 20px 0;
        box-shadow: 0 0 0 0.9vw $whiteColor, 0 0 0 1.1vw $darkGrayColor;
        @include image(url(./../../../images/qr.svg));
        background-position: center right;
        background-size: contain;

        @media screen and (min-width: 1999px) {
            border-top: $borderMax;
            border-right: $borderMax; 
            border-bottom: $borderMax;
            box-shadow: 0 0 0 16px $whiteColor, 0 0 0 21px $darkGrayColor;
        }

        @media screen and (max-width: 767px) {
            @include indents(10vw 0 2.5vw 0, 0);
            align-self: start;
            height: 67vw;
            width: 85vw;
            min-width: 272px;
            min-height: 214.4px;
            border-top: $borderMin;
            border-right: $borderMin; 
            border-bottom: $borderMin;
            box-shadow: 0 0 0 7px $whiteColor, 0 0 0 10px $darkGrayColor;
        }

        @media screen and (max-width: 319px) {
            @include indents(32px 0 9.5px, 0);
        }
    }

    .node__wrapper {
        grid-area: text;
        @include indents(0 9.48% 0 0, 0);
        width: 43%;
        max-width: 837px;

        @media screen and (max-width: 1370px) {
            width: 40%;
        }

        @media screen and (max-width: 767px) {
            width: 80%;
            @include indents(0 auto, 0);
        }

        .node__info_in_bold {
            @include indents(0, 0);
            @include font(4.17vw, 1.11, $darkGrayColor, left, $fontFamilyBlack);

            @media screen and (min-width: 1999px) {
                font-size: 90px;
            }

            @media screen and (max-width: 767px) {
                padding-bottom: 3vw;
                font-size: 7vw;
                line-height: 1;

            }

            @media screen and (max-width: 319px) {
                padding-bottom: 3vw;
                font-size: 15px;
            }
        }

        .node__info {
            @include indents(0, 0);
            @include font(2.34vw, 1.11, $darkGrayColor, left, $fontFamilyMedium);

            @media screen and (min-width: 1999px) {
                font-size: 45px;
            }

            @media screen and (max-width: 767px) {
                font-size: 4.7vw;
                line-height: 1.25;
            }

            @media screen and (max-width: 319px) {
                font-size: 15px;
            }
        }
    }
}