.node {
  margin: 0 auto;
  padding: 0 0 1.1vw 0;
  min-width: 320px;
  max-width: 2000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1999px) {
  .node {
    margin: 0 auto;
    padding: 0 0 21.12px 0;
  }
}
@media screen and (max-width: 767px) {
  .node {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "line" "text" "qr";
  }
}
.node:before {
  right: 7.03vw;
  top: 14.9vw;
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #5DE9B6;
  width: 3.3vw;
  max-width: 63.36px;
  height: 3.3vw;
  max-height: 63.36px;
  border-radius: 50%;
}
@media screen and (min-width: 1999px) {
  .node:before {
    right: 135px;
    top: 286px;
  }
}
@media screen and (max-width: 767px) {
  .node:before {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #5DE9B6;
    width: 3.3vw;
    max-width: 63.36px;
    height: 3.3vw;
    max-height: 63.36px;
    border-radius: 50%;
    min-width: 25.6px;
    min-height: 25.6px;
    width: 8vw;
    height: 8vw;
    right: 10vw;
    top: 38vw;
  }
}
@media screen and (max-width: 319px) {
  .node:before {
    right: 33px;
    top: 121px;
  }
}
.node:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../../../images/arrow-large.svg");
  right: 4.95vw;
  top: 12.5vw;
  width: 100%;
  max-width: 115.2px;
  height: 6vw;
  max-height: 115.2px;
  background-size: 6vw 6vw;
  rotate: 180deg;
}
@media screen and (min-width: 1999px) {
  .node:after {
    right: 95px;
    top: 240px;
    width: 100%;
    background-size: 115.2px 115.2px;
  }
}
@media screen and (max-width: 767px) {
  .node:after {
    right: 5vw;
    top: 32vw;
    height: 14vw;
    min-height: 44.8px;
    background-size: 14vw 14vw;
  }
}
@media screen and (max-width: 319px) {
  .node:after {
    right: 16px;
    top: 102.4px;
    background-size: 44.8px 44.8px;
  }
}
.node .node__border {
  grid-area: line;
  position: relative;
  margin: 0 0 5.9vw 8.2vw;
  padding: 0;
  height: 6.8vw;
  max-height: 130.5px;
  width: 100%;
  border-left: 0.26vw solid #273B4A;
  border-bottom: 0.26vw solid #273B4A;
}
@media screen and (min-width: 1999px) {
  .node .node__border {
    margin: 0 0 113.3px 157.5px;
    padding: 0;
    border-left: 5px solid #273B4A;
    border-bottom: 5px solid #273B4A;
  }
}
@media screen and (max-width: 767px) {
  .node .node__border {
    margin: 0 0 31vw 7vw;
    padding: 0;
    border-left: 3px solid #273B4A;
    border-bottom: 3px solid #273B4A;
    border-bottom-left-radius: 20px;
    height: 15vw;
    min-height: 48px;
  }
}
@media screen and (max-width: 319px) {
  .node .node__border {
    margin: 0 0 99px 22.4px;
    padding: 0;
  }
}
.node .node__border:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #5DE9B6;
  width: 3.3vw;
  max-width: 63.36px;
  height: 3.3vw;
  max-height: 63.36px;
  border-radius: 50%;
  bottom: -1.65vw;
  left: -1.65vw;
}
@media screen and (min-width: 1999px) {
  .node .node__border:after {
    bottom: -31.68px;
    left: -31.68px;
  }
}
@media screen and (max-width: 767px) {
  .node .node__border:after {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #5DE9B6;
    width: 3.3vw;
    max-width: 63.36px;
    height: 3.3vw;
    max-height: 63.36px;
    border-radius: 50%;
    min-width: 18.6px;
    min-height: 18.6px;
    width: 5.8vw;
    height: 5.8vw;
    display: none;
  }
}
.node .node__qr {
  grid-area: qr;
  height: 31.4vw;
  width: 43.44vw;
  max-width: 837px;
  max-height: 638px;
  border-top: 0.26vw solid #273B4A;
  border-right: 0.26vw solid #273B4A;
  border-bottom: 0.26vw solid #273B4A;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 0 0 0.9vw #FFFFFF, 0 0 0 1.1vw #273B4A;
  background-repeat: no-repeat;
  background-image: url(./../../../images/qr.svg);
  background-position: center right;
  background-size: contain;
}
@media screen and (min-width: 1999px) {
  .node .node__qr {
    border-top: 5px solid #273B4A;
    border-right: 5px solid #273B4A;
    border-bottom: 5px solid #273B4A;
    box-shadow: 0 0 0 16px #FFFFFF, 0 0 0 21px #273B4A;
  }
}
@media screen and (max-width: 767px) {
  .node .node__qr {
    margin: 10vw 0 2.5vw 0;
    padding: 0;
    align-self: start;
    height: 67vw;
    width: 85vw;
    min-width: 272px;
    min-height: 214.4px;
    border-top: 3px solid #273B4A;
    border-right: 3px solid #273B4A;
    border-bottom: 3px solid #273B4A;
    box-shadow: 0 0 0 7px #FFFFFF, 0 0 0 10px #273B4A;
  }
}
@media screen and (max-width: 319px) {
  .node .node__qr {
    margin: 32px 0 9.5px;
    padding: 0;
  }
}
.node .node__wrapper {
  grid-area: text;
  margin: 0 9.48% 0 0;
  padding: 0;
  width: 43%;
  max-width: 837px;
}
@media screen and (max-width: 1370px) {
  .node .node__wrapper {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .node .node__wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}
.node .node__wrapper .node__info_in_bold {
  margin: 0;
  padding: 0;
  font-size: 4.17vw;
  line-height: 1.11;
  color: #273B4A;
  text-align: left;
  font-family: "Gramatika-Black", sans-serif;
}
@media screen and (min-width: 1999px) {
  .node .node__wrapper .node__info_in_bold {
    font-size: 90px;
  }
}
@media screen and (max-width: 767px) {
  .node .node__wrapper .node__info_in_bold {
    padding-bottom: 3vw;
    font-size: 7vw;
    line-height: 1;
  }
}
@media screen and (max-width: 319px) {
  .node .node__wrapper .node__info_in_bold {
    padding-bottom: 3vw;
    font-size: 15px;
  }
}
.node .node__wrapper .node__info {
  margin: 0;
  padding: 0;
  font-size: 2.34vw;
  line-height: 1.11;
  color: #273B4A;
  text-align: left;
  font-family: "Gramatika-Medium", sans-serif;
}
@media screen and (min-width: 1999px) {
  .node .node__wrapper .node__info {
    font-size: 45px;
  }
}
@media screen and (max-width: 767px) {
  .node .node__wrapper .node__info {
    font-size: 4.7vw;
    line-height: 1.25;
  }
}
@media screen and (max-width: 319px) {
  .node .node__wrapper .node__info {
    font-size: 15px;
  }
}/*# sourceMappingURL=node.css.map */