@import '../../variableStyles.scss';

.docs {
    background-color: $lightWhiteColor;
    width: 100%;

    .docs__title {
        box-sizing: border-box;
        @include indents(0, 3.5vw 0 3.8vw 9.2vw);
 
        @media screen and (min-width: 1999px) {
            @include indents(0, 67.2px 0 72.96px 176.62px);
        }

        @media screen and (max-width: 767px) {
            @include indents(0, 9vw 0 7vw 14vw);
        }

        @media screen and (max-width: 319px) {
            @include indents(0, 29px 0 22.4px 94px);
        }
    }
      
    .docs__wrapper {
        @include indents(0 auto, 0 0 5vw 0);
        width: 80%;
        @include flex(row, space-between, center);
 
        @media screen and (min-width: 1999px) {
            padding-bottom: 96px;
        }

        @media screen and (max-width: 767px) {
            @include flex(column, space-between, center);
            width: 96%;
            padding-left: 4%;
            position: relative;
        }

        @media screen and (max-width: 319px) {
            padding-bottom: 16px;
        }
        
        .docs__wrapper-text {
            @include flex(column, center, center);
            width: 49%;

            @media screen and (max-width: 767px) {
                padding-bottom: 6vw;
                width: 80%;
            }

            @media screen and (max-width: 319px) {
                padding-bottom: 19.2px;
            }
            
            .docs__text-bold {
                @include indents(0 0 2vw 0, 0);
                @include font(2.3vw, 1, $darkGrayColor, start, $fontFamilyBold);
         
                @media screen and (min-width: 1999px) {
                    margin-bottom: 38.4px;
                    font-size: 44.16px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 4.7vw;
                    line-height: 1.25;
                }

                @media screen and (max-width: 319px) {
                    // margin-bottom: 6.4px;
                    font-size: 15.4px;
                }
            }

            .docs__text {
                @include indents(0, 0);
                @include font(2.1vw, 1.125, $darkGrayColor, start, $fontFamilyRegular);
         
                @media screen and (min-width: 1999px) {
                    font-size: 40.32px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 4.2vw;
                    line-height: 1.4;
                }

                @media screen and (max-width: 319px) {
                    font-size: 13.44px;
                }
            }
        }

        .docs__wrapper-buttons {
            @include flex(column, center, center);
            width: 27%;

            @media screen and (max-width: 767px) {
                @include flex(column, start, flex-start);
                width: 80%;
            }

            .docs__button {
                @include linkButton();
                @include indents(0 0 1vw 0, 0.7vw 0);
                @include font(1.56vw, 1.5, $blackColor, center, $fontFamilyRegular);
                width: 100%;
                background: $lightGreenColor;
                border: 0.2vw solid $lightGreenColor;
                box-shadow: 0px 3.8px 3.8px rgba(0, 0, 0, 0.25);
         
                 @media screen and (min-width: 1999px) {
                    @include indents(0 0 19.2px 0, 13.44px 0);
                    font-size: 30px;
                    border: 3.8px solid $lightGreenColor;
                }

                @media screen and (max-width: 767px) {
                    @include indents(3vw 0 0 0, 0 0);
                    width: 64%;
                    font-size: 4.7vw;
                    line-height: 1.8;
                }

                @media screen and (max-width: 319px) {
                    @include indents(9.6px 0 0 0, 0 0);
                    font-size: 15px;
                }
            }

            .docs__button-light {
                @include linkButton();
                @include indents(0 0 0 0, 0.7vw 0);
                @include font(1.6vw, 1.5, $blackColor, center, $fontFamilyRegular);
                width: 100%;
                border: 0.2vw solid $blackColor;
         
                @media screen and (min-width: 1999px) {
                    @include indents(0 0 0 0, 13.44px 0);
                    font-size: 30px;
                    border: 3.8px solid $blackColor;
                }

                @media screen and (max-width: 767px) {
                    @include indents(3vw 0 0 0, 0 0);
                    width: 64%;
                    font-size: 4.7vw;
                    line-height: 1.8;
                }
                
                @media screen and (max-width: 319px) {
                    @include indents(9.6px 0 0 0, 0 0);
                    font-size: 15px;
                }
            }
        }

        .docs__wrapper-arrow {
            @include image(url(./../../../images/arrow-medium.svg));
            background-position: center center;
            background-size: contain;
            border: 1.5vw solid $lightGreenColor;
            width: 4vw;
            max-width: 76.8px;
            height: 4vw;
            max-height: 76.8px;
            background-color: $lightGreenColor;
            border-radius: 50%;
     
            @media screen and (min-width: 1999px) {
                border: 3.8px solid $lightGreenColor;
            }

            @media screen and (max-width: 767px) {
                position: absolute;
                top: 48%;
                right: 8.5%;
                width: 10vw;
                min-width: 32px;
                height: 10vw;
                min-height: 32px;
                border: 4vw solid $lightGreenColor;
                transform: rotate(155deg);
            }

            @media screen and (max-width: 319px) {
                border: 12.8px solid $lightGreenColor;
            }
        }
    }
}