.docs {
  background-color: #EEEEEE;
  width: 100%;
}
.docs .docs__title {
  margin: 0;
  padding: 3.5vw 0 3.8vw 9.2vw;
}
@media screen and (max-width: 319px) {
  .docs .docs__title {
    margin: 0;
    padding: 11.2px 0 12.6px 29.44px;
  }
}
@media screen and (min-width: 1999px) {
  .docs .docs__title {
    margin: 0;
    padding: 67.2px 0 72.96px 176.62px;
  }
}
.docs .docs__wrapper {
  margin: 0 auto;
  padding: 0 0 5vw 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 319px) {
  .docs .docs__wrapper {
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1999px) {
  .docs .docs__wrapper {
    padding-bottom: 96px;
  }
}
.docs .docs__wrapper .docs__wrapper-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 49%;
}
.docs .docs__wrapper .docs__wrapper-text .docs__text-bold {
  margin: 0 0 2vw 0;
  padding: 0;
  font-size: 2.3vw;
  line-height: 1;
  color: #273B4A;
  text-align: start;
  font-family: "Gramatika-Bold", sans-serif;
}
@media screen and (max-width: 319px) {
  .docs .docs__wrapper .docs__wrapper-text .docs__text-bold {
    margin-bottom: 6.4px;
    font-size: 7.36px;
  }
}
@media screen and (min-width: 1999px) {
  .docs .docs__wrapper .docs__wrapper-text .docs__text-bold {
    margin-bottom: 38.4px;
    font-size: 44.16px;
  }
}
.docs .docs__wrapper .docs__wrapper-text .docs__text {
  margin: 0;
  padding: 0;
  font-size: 2.1vw;
  line-height: 1.125;
  color: #273B4A;
  text-align: start;
  font-family: "Gramatika-Regular", sans-serif;
}
@media screen and (max-width: 319px) {
  .docs .docs__wrapper .docs__wrapper-text .docs__text {
    font-size: 6.72px;
  }
}
@media screen and (min-width: 1999px) {
  .docs .docs__wrapper .docs__wrapper-text .docs__text {
    font-size: 40.32px;
  }
}
.docs .docs__wrapper .docs__wrapper-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27%;
}
.docs .docs__wrapper .docs__wrapper-buttons .docs__button {
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  transition: opacity 0.2s linear;
  margin: 0 0 1vw 0;
  padding: 0.7vw 0;
  font-size: 1.56vw;
  line-height: 1.5;
  color: #000000;
  text-align: center;
  font-family: "Gramatika-Regular", sans-serif;
  width: 100%;
  background: #5DE9B6;
  border: 0.2vw solid #5DE9B6;
  box-shadow: 0px 0.2vw 0.2vw rgba(0, 0, 0, 0.25);
}
.docs .docs__wrapper .docs__wrapper-buttons .docs__button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 319px) {
  .docs .docs__wrapper .docs__wrapper-buttons .docs__button {
    margin: 0 0 3.2px 0;
    padding: 2.24px 0;
    font-size: 5px;
  }
}
@media screen and (min-width: 1999px) {
  .docs .docs__wrapper .docs__wrapper-buttons .docs__button {
    margin: 0 0 19.2px 0;
    padding: 13.44px 0;
    font-size: 30px;
    border: 3.8px solid #5DE9B6;
    box-shadow: 0px 3.8px 3.8px rgba(0, 0, 0, 0.25);
  }
}
.docs .docs__wrapper .docs__wrapper-buttons .docs__button-light {
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  transition: opacity 0.2s linear;
  margin: 0 0 0 0;
  padding: 0.7vw 0;
  font-size: 1.6vw;
  line-height: 1.5;
  color: #000000;
  text-align: center;
  font-family: "Gramatika-Regular", sans-serif;
  width: 100%;
  border: 0.2vw solid #000000;
}
.docs .docs__wrapper .docs__wrapper-buttons .docs__button-light:hover {
  opacity: 0.6;
}
@media screen and (max-width: 319px) {
  .docs .docs__wrapper .docs__wrapper-buttons .docs__button-light {
    margin: 0 0 0 0;
    padding: 2.24px 0;
    font-size: 5px;
  }
}
@media screen and (min-width: 1999px) {
  .docs .docs__wrapper .docs__wrapper-buttons .docs__button-light {
    margin: 0 0 0 0;
    padding: 13.44px 0;
    font-size: 30px;
    border: 3.8px solid #000000;
  }
}
.docs .docs__wrapper .docs__wrapper-arrow {
  background-repeat: no-repeat;
  background-color: lightGrayColor;
  background-image: url(./../../../images/docs.svg);
  background-position: center center;
  background-size: contain;
  border: 1.5vw solid #5DE9B6;
  width: 4vw;
  min-width: 12.8px;
  max-width: 76.8px;
  height: 4vw;
  min-height: 12.8px;
  max-height: 76.8px;
  background-color: #5DE9B6;
  border-radius: 50%;
}
@media screen and (min-width: 1999px) {
  .docs .docs__wrapper .docs__wrapper-arrow {
    border: 3.8px solid #5DE9B6;
  }
}/*# sourceMappingURL=docs.css.map */