@import '../../../variableStyles.scss';

.docs__text {
    @include indents(0, 0);
    @include font(2.1vw, 1.125, $darkGrayColor, start, $fontFamilyRegular);

    @media screen and (min-width: 1999px) {
        font-size: 40.32px;
    }

    @media screen and (max-width: 767px) {
        font-size: 4.2vw;
        line-height: 1.4;
    }

    @media screen and (max-width: 319px) {
        font-size: 13.44px;
    }
}